/*styling the login form*/
body{
	margin:120px;
	padding:30px;
	background:url('../images/pic11.jpg'); /*pic required*/
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	font-family:sans-serif;
	padding:70px 30px;
}


.loginbox{
	 width: 320px;
	 height:420px;
	 background:rgba(0,0,0,0.8);/*put any color then box will be colored*/
	  
	 color:#fff;
	 top:50%;
	 left:50%;
	 position:absolute;
	 transform:translate(-50%,-50%);
	 box-sizing:border-box;
	 padding:70px 30px;
}

.avatar{ 
	 width:100px;
     height:100px;
	 background:orange;
	 border-radius:50%;
	 position:absolute;
	 top:-40px;
	 left: calc(40% -40px);
}

h1{
	  margin:0;
	  padding:0 0 20px;
	  text-align:center;
	  font-size:22px;
}

.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold italic;
	
}
/*for the box in which the data will be typed*/
.loginbox input{
	width:90%;
	margin-bottom:20px;
	
}

/*this is for the input portions*/
.loginbox input{
	
	border:none;
	border-bottom:2px solid white;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}
button
{
	width:97%;
	box-sizing:border-box;
	padding:10px 0;
	margin-top:15px;
	outline:none;
	border:none;
	background:#60adde;
	opacity:0.5;
	border-radius:20px;
	font-size:20px;
	color:#fff;
	
}
button:hover
{
	background:red;
	opacity:0.9;
}



/*this is for the login button*/

/*.loginbox button[type="submit"] {
	 border:none;
	 outline:none;
	 height:40px;
	 background:#fb2525;
	 color:#fff;
	 font-size:18px;
	 border-radius:20px;
}*/
	/*to apply a hover effect*/
/*.loginbox input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color=#000;
}*/*
.loginbox a{
text-decoration:none;
font-size:12px;
line-height:20px;
color:darkgrey;
	
}
.loginbox a:hover{
	
	color:#ffc107;
}

footer
{
	text-align:center;
	margin-top:500px;
	
}
/*This is the footer part*/


/*COMMENTED CODES*/
/*.loginbox:hover{
	opacity:1;
	filter:alpha(opacity=50);
	
	**this can be used to reduce the opacity of the login box
}*/

/*body:hover{
	opacity:0.3;
	filter:alpha(opacity=10);
}*/

}

