/*password-retreat-style.css*/
body 
{
	 background:url('../images/pic12.jpeg');
	 background-size:cover;
	 font-family:Arial;
	 margin:auto;
	
}
.wrap
{
	max-width:350px;
	border-radius:20px;
	margin:auto;
	background:rgba(0,0,0,0.8);
	box-sizing:border-box;
	padding:40px;
	color:#fff;
	margin-top:100px;
	
}
label
{
	text-align:center;
}

input[type=email]
{
	border:none;
	padding:10px 20px;
	border-bottom:1px solid white;
	background:transparent;
	outline:none;
	height:30px;
	color:#fff;
	font-size:15px;
}
input[type=text]{
	border:none;

	border-bottom:1px solid white;
	background:transparent;
	outline:none;
	height:30px;
	color:#fff;
	font-size:15px;
}
button
{
	width:100%;
	box-sizing:border-box;
	padding:10px 0;
	margin-top:30px;
	outline:none;
	border:none;
	background:#60adde;
	opacity:0.7;
	border-radius:20px;
	font-size:20px;
	color:#fff;
}
button:hover{
	
	background:red;
	opacity:0.9;
}
footer{
	text-align:center;
	color:red;
	font-weight:bold;
	border:2px solid;
	border-width:200px;
	margin-top:400px;
	border:2px solid white;
}
a{
	margin-left:580px;
	margin-top:100px;
	font-size:16px;
	border-bottom-color:1px solid silver;
	padding:5px;
	
}
.below{
	padding-bottom:20px;
}
a:hover{
	color:red;
	border:1px solid #fff;
	background:white;
	transition:0.5s ease;
	border-radius:50px;
	
}